examples/Example-Flow-File.json
[
    {
        "id": "4675ad755acd7bf0",
        "type": "tab",
        "label": "Examples",
        "disabled": false,
        "info": "Examples for NPM package",
        "env": []
    },
    {
        "id": "4380b19689c2fe67",
        "type": "get-account-vehicles",
        "z": "4675ad755acd7bf0",
        "name": "Get Account Vehicles",
        "onstar2": "be898e0ea720276d",
        "x": 530,
        "y": 100,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "56996ca808a4f16e",
        "type": "locate-vehicle",
        "z": "4675ad755acd7bf0",
        "name": "Get Vehicle Location",
        "onstar2": "be898e0ea720276d",
        "x": 530,
        "y": 700,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "0b0e6e053cdfeea8",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 100,
        "wires": [
            [
                "4380b19689c2fe67"
            ]
        ]
    },
    {
        "id": "200bd20ad7de8ba8",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 700,
        "wires": [
            [
                "56996ca808a4f16e"
            ]
        ]
    },
    {
        "id": "27d94c36f6ce8f8e",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 640,
        "wires": [
            [
                "e6a40d91343aece2"
            ]
        ]
    },
    {
        "id": "869d125dbe5af487",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 580,
        "wires": [
            [
                "dab87a9e9b7679ac"
            ]
        ]
    },
    {
        "id": "0fa48e3e93c92be9",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 520,
        "wires": [
            [
                "8835730e822ea22c"
            ]
        ]
    },
    {
        "id": "31e22e3f8928b6a1",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 460,
        "wires": [
            [
                "02d8f50a0096bdd9"
            ]
        ]
    },
    {
        "id": "041262c5909c5d16",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 400,
        "wires": [
            [
                "438cf41e067e2538"
            ]
        ]
    },
    {
        "id": "e8bd5ed5a1429069",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 340,
        "wires": [
            [
                "f5a552c85aea4cae"
            ]
        ]
    },
    {
        "id": "9a74ea7644f051a6",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 280,
        "wires": [
            [
                "3d27745fa22c44e7"
            ]
        ]
    },
    {
        "id": "ed83572bc1d70257",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 220,
        "wires": [
            [
                "95ceb5bd6bd19bb6"
            ]
        ]
    },
    {
        "id": "736e111c36a60108",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 160,
        "wires": [
            [
                "efb6e11a0eedbb97"
            ]
        ]
    },
    {
        "id": "fc3b24b5bea34a79",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 880,
        "wires": [
            [
                "8e0fcf01e842e994"
            ]
        ]
    },
    {
        "id": "c3c9491c27c298b7",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 820,
        "wires": [
            [
                "a5c82ef56e66f145"
            ]
        ]
    },
    {
        "id": "0acb66c900d0c069",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 760,
        "wires": [
            [
                "a4b1eb26f7c79673"
            ]
        ]
    },
    {
        "id": "0a01acc5e4d92829",
        "type": "debug",
        "z": "4675ad755acd7bf0",
        "name": "msg.payload",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1010,
        "y": 440,
        "wires": []
    },
    {
        "id": "944af7a03383e640",
        "type": "debug",
        "z": "4675ad755acd7bf0",
        "name": "Command Debug Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "efb6e11a0eedbb97",
        "type": "get-diagnostics",
        "z": "4675ad755acd7bf0",
        "name": "Diagnostics",
        "onstar2": "be898e0ea720276d",
        "x": 500,
        "y": 160,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "95ceb5bd6bd19bb6",
        "type": "lock-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Lock Vehicle",
        "onstar2": "be898e0ea720276d",
        "delay": "",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "3d27745fa22c44e7",
        "type": "unlock-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Unlock Vehicle",
        "onstar2": "be898e0ea720276d",
        "delay": "",
        "x": 510,
        "y": 280,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "f5a552c85aea4cae",
        "type": "start-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Start Vehicle",
        "onstar2": "be898e0ea720276d",
        "x": 500,
        "y": 340,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "438cf41e067e2538",
        "type": "cancel-start-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Cancel Start Vehicle",
        "onstar2": "be898e0ea720276d",
        "x": 530,
        "y": 400,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "02d8f50a0096bdd9",
        "type": "alert-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Alert Vehicle",
        "onstar2": "be898e0ea720276d",
        "action": "",
        "delay": "",
        "duration": "",
        "override": "",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "8835730e822ea22c",
        "type": "alert-myvehicle-lights",
        "z": "4675ad755acd7bf0",
        "name": "Alert Vehicle Lights Only",
        "onstar2": "be898e0ea720276d",
        "x": 540,
        "y": 520,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "dab87a9e9b7679ac",
        "type": "alert-myvehicle-horn",
        "z": "4675ad755acd7bf0",
        "name": "Alert Vehicle Horn Only",
        "onstar2": "be898e0ea720276d",
        "x": 540,
        "y": 580,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "e6a40d91343aece2",
        "type": "cancel-alert-myvehicle",
        "z": "4675ad755acd7bf0",
        "name": "Cancel Alert Vehicle",
        "onstar2": "be898e0ea720276d",
        "x": 530,
        "y": 640,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "a4b1eb26f7c79673",
        "type": "get-ev-charging-metrics",
        "z": "4675ad755acd7bf0",
        "name": "Get EV Charging Metrics",
        "onstar2": "be898e0ea720276d",
        "x": 540,
        "y": 760,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "a5c82ef56e66f145",
        "type": "refresh-ev-charging-metrics",
        "z": "4675ad755acd7bf0",
        "name": "Refresh EV Charging Metrics",
        "onstar2": "be898e0ea720276d",
        "x": 550,
        "y": 820,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "8e0fcf01e842e994",
        "type": "set-charge-level-target",
        "z": "4675ad755acd7bf0",
        "name": "Set Charge Level Target",
        "onstar2": "be898e0ea720276d",
        "chargelevel": "80",
        "x": 540,
        "y": 880,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "f9a8b2c3d4e5f678",
        "type": "stop-charging",
        "z": "4675ad755acd7bf0",
        "name": "Stop Charging",
        "onstar2": "be898e0ea720276d",
        "x": 500,
        "y": 940,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "d8e9a334ea39b5ed",
        "type": "lock-mytrunk",
        "z": "4675ad755acd7bf0",
        "name": "Lock Trunk",
        "onstar2": "be898e0ea720276d",
        "delay": "",
        "x": 500,
        "y": 1000,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "9cf6a707daab7220",
        "type": "unlock-mytrunk",
        "z": "4675ad755acd7bf0",
        "name": "Unlock Trunk",
        "onstar2": "be898e0ea720276d",
        "delay": "",
        "x": 500,
        "y": 1060,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "f8c7b6a5d4e3f210",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 940,
        "wires": [
            [
                "f9a8b2c3d4e5f678"
            ]
        ]
    },
    {
        "id": "90f3b9ec8ed5c354",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1060,
        "wires": [
            [
                "9cf6a707daab7220"
            ]
        ]
    },
    {
        "id": "96bcbbb9ae4725e9",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1000,
        "wires": [
            [
                "d8e9a334ea39b5ed"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f61234",
        "type": "get-vehicle-details",
        "z": "4675ad755acd7bf0",
        "name": "Get Vehicle Details",
        "onstar2": "be898e0ea720276d",
        "x": 530,
        "y": 1120,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "b2c3d4e5f6a12345",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1120,
        "wires": [
            [
                "a1b2c3d4e5f61234"
            ]
        ]
    },
    {
        "id": "c3d4e5f6a1b23456",
        "type": "get-onstar-plan",
        "z": "4675ad755acd7bf0",
        "name": "Get OnStar Plan",
        "onstar2": "be898e0ea720276d",
        "x": 520,
        "y": 1180,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "d4e5f6a1b2c34567",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1180,
        "wires": [
            [
                "c3d4e5f6a1b23456"
            ]
        ]
    },
    {
        "id": "e5f6a1b2c3d45678",
        "type": "get-vehicle-recall-info",
        "z": "4675ad755acd7bf0",
        "name": "Get Vehicle Recall Info",
        "onstar2": "be898e0ea720276d",
        "x": 540,
        "y": 1240,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "f6a1b2c3d4e56789",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1240,
        "wires": [
            [
                "e5f6a1b2c3d45678"
            ]
        ]
    },
    {
        "id": "a1b2c3d4e5f6abcd",
        "type": "stop-lights",
        "z": "4675ad755acd7bf0",
        "name": "Stop Lights",
        "onstar2": "be898e0ea720276d",
        "x": 510,
        "y": 1300,
        "wires": [
            [
                "0a01acc5e4d92829"
            ],
            [
                "944af7a03383e640"
            ]
        ]
    },
    {
        "id": "b2c3d4e5f6a1bcde",
        "type": "inject",
        "z": "4675ad755acd7bf0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 260,
        "y": 1300,
        "wires": [
            [
                "a1b2c3d4e5f6abcd"
            ]
        ]
    },
    {
        "id": "be898e0ea720276d",
        "type": "onstar2",
        "carname": "My Car 1",
        "username": "OnStar_Username",
        "password": "OnStar_Password",
        "pin": "1234",
        "vin": "Vehicle_VIN",
        "deviceid": "Any_Valid_UUID",
        "checkrequeststatus": "true",
        "requestpollingtimeoutseconds": 90,
        "requestpollingintervalseconds": 6
    }
]